@charset "UFT-8";
@import url('global.css');

.container{
  background-image: url(../imagens/capaaaa2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}
body{
  margin: 0;
}
.content{
  overflow: hidden;
  margin-top: 20px; /* Add a top margin to avoid content overlay */
  background: rgb(255, 255, 255);
  min-width: 1100px;
  min-height: 100vh;
}
  
/*                   CAIXA DE PUBLICAÇÃO                            */

.publicacao {
  position: relative;
  top: 100px;
  left: 5%;
  width: 1000px;
  height: 300px;
}

.esq {
  width: 50%;
  float: left;
}

.dir {
  margin-left: 50%;
}

.esq > button, .dir > button {
  width: 100%;
  height: 100%;
  font-size: 50px;
  background-color: white;
  color: var(--cor5);
  border: white;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.esq > button:hover, .dir > button:hover{
background-color: var(--cor5);
color: white;
box-shadow: rgba(12, 12, 15, 0.072) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.048) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.053) 0px -23px 25px 0px inset,rgba(0, 0, 0, 0.053) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.044) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.publicacao > .post > textarea, .publicacao > .resenha > textarea{
  width: 100%;
  height: 100%;
  resize: none;
}

/*                    FORMULÁRIOS                     */


/*              POST                */

.post_res{
  background-color: rgba(128, 128, 128, 0.085);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.096) 0px 8px 24px;

}
  
.nomejogo{
  padding: 17px;
  
  padding-left: 50;
  font-size: 16px;
  font-weight: bolder;
}

.inputjogo{
  width: 355px;
  padding: 3px 3px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid var(--cor5);
  background-color: transparent;
  outline: none;
  min-width: 18px;
  font-size: 16px; 
}
.textarea{
  padding-bottom: 6px;
  padding-left: 5%;
}

.textarea > textarea {
  resize: none;
  width: 95%;
  background-color: rgba(128, 128, 128, 0.085);
  border: none;
 
}
.areapost{
  padding: 12px 20px;
  background-color: white;
  width: 50%;
  height: 120px;
  outline: none;
  border-radius: 10px;
}
.areares{
  padding: 12px 20px;
  background-color: white;
  width: 50%;
  height: 150px;
  outline: none;
  border-radius: 10px;
}

/*botão*/  
.publicar, .fechar{
  padding: 10px;
  right: 2%;
  background-color: var(--cor5);
  border-radius: 20px;
  font-weight: bold;
  border: none;
  font-size: 16px;
  transition-duration: .5s;
  text-align: center;
  position: relative;
  float: right;
  margin: 5px;
  margin-top: 10px; 
} 
.publicar:hover, .fechar:hover{
color: white;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.124);   

}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-bottom: 25px;
  padding-top: 10px;
  margin: 0;
}


/*                RESENHA                  */



li:not(:last-child) {
  margin-right: 60px;
} 

/*resenha*/
.botaoresenha{
  padding: 10px;
  background-color: white;
  color: var(--cor5);
  border-radius: 20px;
  border: none;
  font-size: 16px;
  transition-duration: .5s;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
input[type="radio"]:checked + .botaoresenha{
  color: white;
  background-color: var(--cor5);
  font-weight: bolder;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.124);   
}

/*estrelas*/
.estrelas {
  display: flex;
  align-items: center;
  justify-content: left;
}

.estrelasImg {
  margin-left: 420px;
}

.estrelas input[type=radio] {
  display: none;
}
.estrelas label i.fa:before {
  content:'\f005';
  color: var(--cor5);
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: #CCC;
}

input[type="radio"] {
  appearance: none;
}

.feed {
  position: relative;
  top: 150px;
  width: 700px;
  height: 250px;
  margin: auto;
  margin-bottom: 5vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.post-publi {
  display: flex;
}

.post-publi > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  
  border-radius: 100%;
  margin-left: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.post-info{
  margin-left: 5px;
  margin-top: 10px;
  line-break: strict;
}

.post-info a {
  text-decoration: none;
  color: black;
}

.post-coment {
  width: 320px;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
 
}

.post-coment p {
  margin-right: 5px;
}

.post-imagem img {
  object-fit: fill;
  position: absolute;
  left:48%;
  width: 50%;
  height: 80%;
  bottom: 30px;
  border-radius: 10px;
}

.post-like {
  position: relative;
  top: 60%;
  left: 20px;
}

.post-info h3:hover {
  cursor: pointer;
}

.fa-heart-o {
  color: #cbcaca;
  cursor: pointer;
}

.fa-heart {
  color: var(--cor5);
  cursor: pointer;
}

#blocoImgE, #blocoImgD {
  opacity: 0%;
  height: 70px;

}

#resultadosJogoD, #resultadosJogoE {
    background-color: #eeeeee;
    margin-left: 48px;
    margin-top: 5px;
    width: 350px;
    position: absolute;
    background-color: #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#resultadosJogoD > option, #resultadosJogoE > option {
  cursor: pointer;
  margin-left: 10px;
}

#resultadosJogoD > option:hover, #resultadosJogoE > option:hover {
  color: var(--cor5);
}